/* reset mặc định */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: rgb(234, 232, 232);
}

/* khối chứa toàn bộ */
.container {
  width: 400px;
  margin: 50px auto;      
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

/* icon (ảnh) */
.container-icon img {
  width: 60px;
  height: 60px;
  border-radius: 50%;    /* bo tròn ảnh */
  margin-bottom: 15px;
}


.container-text h2 {
  font-size: 22px;
  padding: 2px;
  color: #333;
  margin-bottom: 10px;
}


.container-text p {
  font-size: 15px;
  color: #555;
  padding: 2px;
  margin-bottom: 20px;
}

/* form */
.container-form input {
  width: 100%;
  padding: 15px;
  border: 2px solid #ccc;
  background-color: white;
  border-radius: 5px;
}

.container-form button {
  padding: 20px 15px;
  border: 2px;
  background: #09cbc5;
  color: white;
  width: 180px;
  border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
  text-decoration: solid;
}

.container-form button:hover {
  background: #09cbc5;
}
